.answer-text {
  background-color: #eaf7ff;
  overflow-wrap: anywhere;
  overflow-x: hidden;
  white-space: pre-wrap;
  width: 100%;
}
.code-answer {
  background-color: #fffbe6;
  font-family: 'Courier New', monospace;
  font-size: 0.85em;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
  overflow-x: hidden;
  width: 100%;
}

.flashcard-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}
