.answer-text {
  background-color: #eaf7ff;
  overflow-wrap: anywhere;
}
.code-answer {
  background-color: #fffbe6;
  font-family: 'Courier New', monospace;
  overflow-wrap: anywhere;
  white-space: pre-wrap;
}

.flashcard-image {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 1rem auto;
}
