<div class="scroll-wrapper" *ngIf="flashcards.length">
  <ng-container *ngFor="let card of flashcards">
    <section class="qa-section question">
      <img
        *ngIf="card.questionImage"
        [src]="apiUrl + '/images/' + card.questionImage"
        class="flashcard-image"
        alt="question image"
      />
      <pre class="card-text">{{ card.question }}</pre>
    </section>
    <section class="qa-section answer">
      <app-flashcard-answer [answer]="card.answer" [image]="card.answerImage || ''"></app-flashcard-answer>
    </section>
  </ng-container>
</div>
