<ion-content class="ion-padding">
<div class="login-container">
  <h2>{{ 'LOGIN' | translate }}</h2>
  <form (ngSubmit)="login()">
    <div>
      <label>{{ 'USERNAME' | translate }}</label>
      <input [(ngModel)]="username" name="username" required />
    </div>
    <div>
      <label>{{ 'PASSWORD' | translate }}</label>
      <input [(ngModel)]="password" name="password" type="password" required />
    </div>
    <div *ngIf="error" class="error">{{ error }}</div>
    <button type="submit" [disabled]="loading">{{ 'LOGIN' | translate }}</button>
  </form>
</div>

</ion-content>
