<nav class="main-nav">
  <div class="nav-left">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/icons/icon-48x48.png" alt="Logo" class="logo" />
      <span class="brand">Flashcards</span>
    </a>
    <button class="menu-toggle" (click)="toggleMenu()" aria-label="Open menu">
      <span class="material-icons">menu</span>
    </button>
    <div class="nav-links" [class.open]="menuOpen">
      <a [routerLink]="['/']" routerLinkActive="active" (click)="closeMenu()">Home</a>
      <a [routerLink]="['/manage-flashcards']" routerLinkActive="active" (click)="closeMenu()">Manage Flashcards</a>
      <a [routerLink]="['/learning-paths']" routerLinkActive="active" (click)="closeMenu()">Learning Paths</a>
      <a [routerLink]="['/about']" routerLinkActive="active" (click)="closeMenu()">About</a>
      <a [routerLink]="['/help']" routerLinkActive="active" (click)="closeMenu()">Help</a>
    </div>
  </div>
  <div class="nav-user">
    <button class="user-avatar" (click)="onUserIconClick()">
      <img *ngIf="auth.getCurrentUser(); else defaultAvatar" [src]="userAvatarUrl" alt="User" />
      <ng-template #defaultAvatar>
        <img src="assets/icons/user-default.png" alt="User" />
      </ng-template>
    </button>
  </div>
</nav>